##gitignore

build/
build/CMakeFiles/Makefile.cmake build/hw2p1_spiral/CMakeFiles/hw2p1_spiral.dir/main.cpp.obj
build/hw2p1_spiral/CMakeFiles/hw2p1_spiral.dir/vc140.pdb
build/hw2p1_spiral/hw2p1_spiral.exe
build/hw2p1_spiral/hw2p1_spiral.ilk
build/hw2p1_spiral/hw2p1_spiral.pdb
icg17/CMakeLists.txt.user
hw1-Hasani-Gulberti-Fahli.zip
hw1-Hasani-Gulberti-Fahli/